:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  background: tomato;
  border: 5px solid black;
  border-radius: 2px;
  margin: 2px;
  width: 200px;
  height: 150px;
   /* margin-top: 10px;
  line-height: 150px; */
  color: white;
  font-weight: bold;
  /* font-size: 3em; */
  text-align: center;
}